.features-main {
  padding: 10%;
}

.features-main h2 {
  font-size: 3rem;
}

.features-title {
  text-align: center;
  margin: auto;
  width: 50%;
}

.features-group {
  display: flex;
  padding: 10% 0;
}

.detailed-records {
  margin-top: 36px;
}

.fully-customizable {
  margin-top: 72px;
}

.single-feature {
  padding: 0 2%;
}
